@import url(../Assests/styles/main.css);
body{
    height: 100vh;
    flex-direction:row;
    background-color: var(--dark-grey);
}

#box{
    padding:20px;
    border-radius: 4px;
    background-color:var(--light-dark-grey);
}

#searchInput{
    border: 0;
    outline: 0;
    background-color: transparent;
    color: var(--bright-white-grey);
    font-size: 15px;
    margin-right: 10px;
    transition: display 3s ease-in 
    /* transition: display ; */

}
.hide{
    display: none;
    
}